<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.washington.xyju.quizdroid" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopicOverviewActivity"
            android:label="@string/title_activity_topic_overview" >
        </activity>
        <activity
            android:name=".MathOverviewActivity"
            android:label="@string/title_activity_math_overview" >
        </activity>
        <activity
            android:name=".PhysicsOverviewActivity"
            android:label="@string/title_activity_physics_overview" >
        </activity>
        <activity
            android:name=".HeroOverviewActivity"
            android:label="@string/title_activity_hero_overview" >
        </activity>
        <activity
            android:name=".FirstQuestionActivity"
            android:label="@string/title_activity_first_question" >
        </activity>
        <activity
            android:name=".FirstAnswerActivity"
            android:label="@string/title_activity_first_answer" >
        </activity>
        <activity
            android:name=".SecondQuestionActivity"
            android:label="@string/title_activity_second_question" >
        </activity>
        <activity
            android:name=".SecondAnswerActivity"
            android:label="@string/title_activity_second_answer" >
        </activity>
    </application>

</manifest>
